* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Georgia, sans-serif;
}

a {
	color: #b92d1f;
}
/* TOP BAR */

.top-bar {
	background: #ba2e1f;
	overflow: hidden;
	width: 100%;
}

.top-bar-wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px;
}

.top-bar-links  li {
	float: left;
	list-style: none;
	padding: 20px 6px 20px 0;

}

.top-bar-links  li a { 
	color: #fff;
	border-right: 1px solid #fff;
	font-size: 12px;
	font-family: Georgia, sans-serif;
	padding-right: 6px;
	text-decoration: none;
}

.top-bar-links  li a:hover {
	text-decoration: underline;
}

.top-bar-links .border-none { 
	border: none;
}

.search {
	float: right;
	padding-top: 15px ;
	border: none;
	width: 210px;
	height: 30px;
}

/* правило только к элементу с классом search */
.search-txt::-webkit-search-cancel-button {
  display: none; /* убрали кнопку очистки */
}

.search-txt {
	width: 210px;
	border-radius: 15px;
	border: none;
	height: 25px;
	padding:0 25px 1px 15px;
	outline: none;
}

.search-txt:focus {
	box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
}
.submit {
	border-radius: 50%;
	border: none;
	width: 18px;
	height:18px;
	cursor: pointer;
	background: transparent url(../images/search-icon.png);
	position: absolute;
	margin: -21px 0 0 186px;
}
 
input[type="search"]:focus {
 	outline: none; 
}

.search-icon{
	background: transparent url(../images/search-icon.png);
}

/* HEADER */

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px;
	overflow: hidden;
}


.text-hide {
font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.social {
	float: right;
	margin: 60px 0 40px 0;
}

.social ul li {
	list-style: none;
	float: left;
	padding-left: 10px;
}

.logo {
	margin-top: 40px;
	float: left;
}

.slogan {
	color: #000;
	font-size: 14px;
}
.social ul li{
	float: left;
	list-style: none;
}

.linkedin {
	  background: #333 url(../images/linkedin.png) no-repeat;
	  border-radius: 50%;
	  display: block;
	  height: 32px;
	  width: 32px;
 }

.linkedin:hover {
	background: #0e76a8 url(../images/linkedin.png) no-repeat;
}

.twitter {
	background: #333 url(../images/twitter.png) no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	width: 32px;
}

.twitter:hover {
	background: #00acee url(../images/twitter.png) no-repeat;
}

.pinterest {
	background: #333 url(../images/pinterest.png) no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	width: 32px;
}

.pinterest:hover {
	background: #c8232c url(../images/pinterest.png) no-repeat;
}

.google {
	background: #333 url(../images/google+.png) no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	width: 32px;
}

.google:hover {
	background: #db4a39 url(../images/google+.png) no-repeat;
}

.rss {
	background: #333 url(../images/rss.png) no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	width: 32px;
}

.rss:hover {
	background:#ee802f url(../images/rss.png) no-repeat;
}


header::after {
	content: " ";
	clear: both;
	display: table;
}

/* MENU */

.menu {
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #333333 51%, #2b2b2b 51%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(51%,#333333), color-stop(51%,#2b2b2b), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 0%,#333333 51%,#2b2b2b 51%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 0%,#333333 51%,#2b2b2b 51%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333333 0%,#333333 51%,#2b2b2b 51%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 0%,#333333 51%,#2b2b2b 51%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
  	border-radius: 5px;
   	padding: 0 59px;
}

.menu::after {
	content: " ";
	clear: both;
	display: table;
}

nav ul li {
	display: block;
	float: left;
	list-style: none;
	line-height: 1;
	word-spacing: 1px;
}

nav ul li a {
	color: #e9e8e3;
	display: block;
	font-size: 12px;
	padding: 12px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	color: #ba2e1f;
	cursor: pointer;
}

/* CONTENT */

section {
	margin-top: 25px;
}


.main-img {
	float: left;
	margin-right: 50px;
}

.main-article-p {
	color: #666;
	font-size: 16px;
}

.main-article-title {
	color: #000;
	font-size: 86px;
	padding-top: 115px;
	font-weight: normal;
}

.read-more {
	color: #ba2e1f;
	display: block;font-size: 16px;
	padding-top: 15px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: right;
}

.read-more:hover {
	text-decoration: underline;
}

.read-more img {
	float: none!important;
	margin: 0 0 2px 3px;
}

article.main-article {
	overflow: hidden;
	margin-bottom: 30px;
}

/* CONTENT MAIN*/

.content {
	background: #f2f2f2;
	overflow: hidden;
	margin: 0;
	padding-bottom: 40px;
}

.content-wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px;
}

.content-wrapper h1 {
	margin: 45px 0;
	font-size: 26px;
	color: #333;
	font-weight: normal;
	font-family: Georgia, sans-serif;
}

.left-column, .center-column, .right-column {
	width: 300px;
	float: left;
}

.left-column{
	color: #878787;
	font-size: 13px;
	font-family: Georgia, sans-serif;
	padding-right: 30px;
	line-height: 1.5;
	width: 300px;
}

.left-column img{
	border: 1px solid #dfdfdf;
}

.article-img {
	margin-bottom: 18px;
}

.left-column-p {
	margin-bottom:  15px;
}

.read-more-main-content {
	color: #b92d1f;
	display: block;
	font-size: 13px;
	text-align: right;
	text-decoration: none;
	margin-top: 10px;
}

.read-more-main-content:hover {
	text-decoration: underline;
}

.read-more-img {
	float: none;
	margin: 0;
	padding-left: 4px;
}


/* CENTER-COLUMN */

.center-column {
	margin-right: 30px;
	line-height: 1.5;
	width: 299px;
}


.center-column p {
	color: #878787;
	font-size: 13px;
}

.center-column section img {
	float: left;
	padding-right: 18px;
}

.center-column h1 {
	margin: 46px 0;
}

.center-column .service-name  {
  	color: #878787;
	font-weight: 600;
	font-size: 14px;
  	padding-bottom: 4px;
}

 .center-content {
	margin-bottom: 10px;
	overflow: hidden;
}

#last {
	margin-bottom: 18px;
}

/* RIGTH COLUMN */

.right-column {
	width: 301px;
	line-height: 1.5;
}

.right-column img {
	float: left;
	padding-right: 15px;
}

.right-column .read-more-right-img{
	float: none;
	padding-right: 4px;
}

.right-column h1 {
	 margin: 46px 0;
}

.right-column-content {
	color: #888888;
	font-size: 13px;
	margin-bottom: 20px;
}

.blockquote {
	color: #989898;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 0 10px 0;
}

.blockquote span {
	font-weight: normal;
}

.right-column-content .read-more-main-content-right{
	color: #b92d1f; 
	display: block;
	float: none;
	font-size: 13px;
	text-align: right;
	text-decoration: none;
}

.read-more-main-content-right:hover {
	text-decoration: underline;
}

.read-more-right-img {
	padding-left: 4px;
}

/* FOOTER */

footer {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	font-family: Georgia, sans-serif;
	padding: 0 15px;
}

h3.footer {
	color: #666;
	font-size: 16px;
	font-weight: normal;
	border-top: 1px solid #666;
	padding: 20px 0 30px 0;
}
.tweets {
	width: 210px;
	float: left;
	margin-right: 40px;

}

.tweets a {
	text-decoration: none;
}

.tweets a:hover {
	text-decoration: underline;
}

.tweets p {
	color: #666;
	font-size: 12px;
	margin-bottom: 30px;
	line-height: 1.5;
}

.links {
	width: 210px;
	float: left;
	margin-right: 40px;
}




.links ul  {
	list-style-image: url(../images/read-more-links.png);
	list-style-position: inside;
}


.links ul li a {
	color: #666;
	text-decoration: none;
	border-bottom: 1px solid #d4d4d4;
	padding: 5px 0 5px 3px;
	display: block;
	font-size: 12px;
}

.links ul li a:hover {
	text-decoration: underline;
}

.blog-posts {
	width: 210px;
	float: left;
	margin-right: 40px;
	color: #666;
	font-size: 12px;
}
.blog-posts a {
	text-decoration: none;

}

.blog-posts a:hover {
	text-decoration: underline;
}

.post-title {
	font-size: 14px;
	font-weight: 600;
}

.article-date {
	font-size: 10px;
	padding-bottom: 20px;
	font-weight: normal;
}

.read-more-blog {
	display: block;
	padding: 8px 0 15px 0;
	text-align: right;
}

.read-more-blog img {
	padding-left: 4px;
}

.contact {
	width: 210px;
	float: left;
}

input[type="text"] {
	border-radius: 5px;
	background-color: #f2f2f2;
	border: none;
	height: 30px;
	padding-left: 7px;
	margin-bottom: 10px;
	width: 200px;
}
input[type="text"]:focus {
	box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
	outline: none; 
}

input[type="text"]::-webkit-input-placeholder {  /* Для зміни зовнішнього вигляду placeholder у Safari та Сhrome */
    color: #989898;
    font-size: 13px;
} 

input[type="text"]::-moz-placeholder { /* Для зміни зовнішнього вигляду placeholder у Firefox */
    color: #989898;
    font-size: 13px;
}

textarea {
	/*width: 207px;*/
	background: #f2f2f2;
	border: none;
	border-radius: 5px;
	outline: none; 
	resize: none;
	overflow: hidden;
}

textarea:focus {
    outline: none;
}


.submit-form {
	display: block;
	margin-top: 5px;
	cursor: pointer;
	background: #f2f2f2;
	border: none;
	border-radius: 5px;
	padding: 10px 13px;
	color: #ba2e1f;
	font-size: 13px;
}

.submit-form:focus {
	outline: none;
}

.copyright {
	background: #f2f2f2;
	margin-top: 20px;
}

.copyright-wrapper {
	padding: 0 15px;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}


.copyright-wrapper p {
 	color: #919191;
	font-size: 12px;
}

.copyright-left {
	float: left;
	padding: 25px 0 ;
}

.copyright-right {
	float: right;
	padding: 25px 0 ;
}