*{
	padding: 0;
	margin: 0;
}

.row {
	margin: 0;
}

/* Header */

header {
	height: 160px;
}

.logo {
	margin: 30px 0 5px 0;
}

.slogan {
	font-family: Georgia, sans-serif;
	font-size: 12px;
	color: #000;
	margin-bottom: 35px;
}

.navbar-nav {
	background: #333;
	border-radius: 5px;
	width: 100%;
	padding-left: 60px;
	margin-bottom: 25px;
}

.navbar-nav li a {
	color: #e9e8e3;
	font-size: 12px;
	font-family: Georgia, sans-serif;
	padding: 10px 32px 10px 0;
}

.navbar-nav li a:hover {
	background: none;
	color: #ba2e1f;
	cursor: pointer;
}

/* Contant */

.col-lg-6 {
	padding: 0;
}

.col-img {
	margin-right: 50px;
}

.col-text{
	color: #666;
	font-size: 16px;
	font-family: Georgia, sans-serif;
}

.main-title {
	color: #000;
	font-family: Georgia, sans-serif;
	font-size: 78px;
	margin-top: 105px;
	line-height: 1;
}

.read-more{
	text-align: right;
}

.btn-default {
	border: none;
	color: #ba2e1f;
	font-size: 16px;
	font-family:  Georgia, sans-serif;
}

.btn-default:hover {
	border: none;
	color: #ba2e1f;
	text-decoration: underline;
	background: none;
}


.h2 {
	font-size: 26px;
	color: #333;
	font-family: Georgia, sans-serif;
	font-weight: normal;
	padding: 0 0 2px 0;
}



.other-features {
	padding: 0;
	margin-top: 25px;
	color: #878787;
	font-size: 13px;
	font-family: Georgia, sans-serif;
	line-height: 1.5;
	margin-bottom: 60px;
}

.other-features img {
	border: 1px solid #dfdfdf;
	margin-right: 15px;
}

.other-features p span {
	display: block;
	padding: 27px 0 25px;

}

/* Footer */
footer{
	background: #f2f2f2;
	padding: 25px 0 12px 0;
	
	
}

footer p {
	font-family: Georgia, sans-serif;
	color: #919191;
	font-size: 12px;

}

span.footer-right {
	text-align: right;

}
footer p span.copyright {
	padding-top: 26px;
}


.col-lg-12 {
	padding-right: 0;
	padding-left: 0;
}