* {
	padding: 0;
	margin: 0;
}

html {
	overflow-x: hidden;
}

body {
	background: #fff;
	font-family: Georgia, sans-serif;
}

a:hover {
	text-decoration: underline;
}

h1{
	color: #333333;
	font-size: 26px;
	font-weight: normal;
}

.wrapper {
	max-width: 960px;
	margin: auto;
	padding: 0 15px;
}


.logo {
	margin: 30px 0 35px 0;
}

.slogan{
  padding: 3px 0 0 0;
  font-size: 12px;
}

ul::after {
	content: "";
	clear: both;
	display: table;
}

ul {
	background: #333;
	border-radius: 5px;
	padding: 0 0 0 60px;
	word-spacing: 1px;
}

.nav ul li {
	float: left;
	list-style: none;
	padding: 0 36px 0 0;
}

 .nav ul li a{
 	color: #e9e8e3;
 	display: block;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
	padding: 15px 0 11px 0;
}

.nav ul li a:hover {
	cursor: pointer;
	color: #ba2e1f;
}


.main-article {
	margin-top: 25px;
	overflow: hidden;
}

.main-article-img {
	float: left;
	margin-right: 50px;
}

.main-article-title {
	font-size: 84px;
	padding: 115px 0 0 0; 
}

.main-article-p {
	color: #666666;
	font-size: 16px;
	font-weight: normal;
}

.read-more{
	color: #ba2e1f;
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: right;
	padding-top: 15px;
}

.read-more a:hover {
	text-decoration: underline;
}

.read-more img {
	padding: 0 0 1px 5px;
}

.article {
	margin-top: 50px;
}

.article p {
	color: #878787;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.5;
}

.article p span {
	padding: 35px 0 30px 0;
  	display: block;
}

.article h1 {
	margin-bottom: 20px;
}

.article-img {
	float: left;
	margin: 0 15px 0px 0;
	border: 2px solid #dfdfdf;
}

.footer {
	background: #f2f2f2;
	height: 65px;
	overflow: hidden;
	margin: 60px auto 0 auto;
	width: 100%;
}

.footer-wrapper {
	max-width: 960px;
	margin: 0 auto;

}

.footer p {
	font-size: 12px;
	color: #919191;
}

.footer-left {
	float: left;
	padding: 30px 0 0 20px;
}

.footer-right {
	float: right;
	padding: 30px 20px 0 0 ;
}


